html
{
	height : 800px;
}

body
{
	height : 100%;
	margin : 0 0 0 0;
	padding : 0 0 0 0;
}

#container
{
	height : 100%;
	width : 80%;
	border : 1px solid black;
	margin: 0 auto;
	/*margin : 0 0 0 0;
	padding : 0 0 0 0;*/
}

/*#score
{
	height : 15%;
	width: 100%;
	border : 1px solid black;
	margin : 0 0 0 0;
	padding : 0 0 0 0;
}*/
#bots
{
	position: relative;
	height : 50%;
	width: 80%;
	/* border : 1px solid black; */
	margin : 0 auto;
	padding : 0 0 0 0;
}

#vaisseau
{
	position:absolute;
	height : 5%;
	width: 10%;
	border : 1px solid black;
	background: #010101;
	left: 220px;
	margin-top: 20%;
	/*margin : 0 0 0 0;
	padding : 0 0 0 0;*/
}

#menu
{
	height : 10%;
	width: 100%;
	border : 1px solid black;
	margin-top: 317px;
	background: #010101;
	/*margin : 0 0 0 0;
	padding : 0 0 0 0;*/
}

.bot
{
	height : 20%;
	width: 5%;
	float: left;
	left: 200px;
	border : 1px solid black;
	margin : 1.5% 2.4% 1.5% 2.4%;
	padding : 0 0 0 0;
}