html
{
	height : 800px;
}

body
{
	height : 100%;
	margin : 0 0 0 0;
	padding : 0 0 0 0;
}

#container
{
	height : 100%;
	width : 80%;
	border : 1px solid black;
	margin: 0 auto;
	/*margin : 0 0 0 0;
	padding : 0 0 0 0;*/
	background : url(fondecran.jpg);
	background-size : 100%;
}

/*#score
{
	height : 15%;
	width: 100%;
	border : 1px solid black;
	margin : 0 0 0 0;
	padding : 0 0 0 0;
}*/
#bots
{
	position: relative;
	height : 50%;
	width: 80%;
	/* border : 1px solid black; */
	margin : 0 auto;
	padding : 0 0 0 0;
	
	
}

#vaisseau
{
	position:absolute;
	height : 22%;
	width: 8.4%;
	/* border : 1px solid black; */
	background: url(pacman2.svg) no-repeat;
	background-size : 100%;
	left: 220px;
	margin-top: 15%;
	/*margin : 0 0 0 0;
	padding : 0 0 0 0;*/
}

#menu
{
	height : 10%;
	width: 100%;
	border : 1px solid black;
	margin-top: 317px;
	background: #010101;
	/*margin : 0 0 0 0;
	padding : 0 0 0 0;*/
	display : none;                        /* RAJOUT*/
}

.bot
{
	height : 20%;
	width: 5%;
	float: left;
	left: 200px;
	background : url(monstre.svg);
	
	background-size : 100% 100%;
	margin : 1.5% 2.4% 1.5% 2.4%;
	padding : 0 0 0 0;
}
.bot:hover {
    fill: red;
}
